@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.93 0.02 256.04);
  --foreground: oklch(0.267 0.097 256.8);
  --card: oklch(0.97 0.01 256.04);
  --card-foreground: oklch(0.267 0.097 256.8);
  --popover: oklch(0.97 0.01 256.04);
  --popover-foreground: oklch(0.267 0.097 256.8);
  --primary: #27A1DC;
  --primary-foreground: oklch(0.93 0.02 256.04);
  --secondary: #1067A2;
  --secondary-foreground: oklch(0.93 0.02 256.04);
  --muted: oklch(0.88 0.02 256.04);
  --muted-foreground: oklch(0.55 0.05 256.04);
  --accent: oklch(0.267 0.097 256.8);
  --accent-foreground: oklch(0.93 0.02 256.04);
  --destructive: oklch(0.63 0.15 25.72);
  --destructive-foreground: oklch(0.93 0.02 256.04);
  --border: oklch(0.82 0.03 256.04);
  --input: oklch(0.82 0.03 256.04);
  --ring: oklch(0.267 0.097 256.8);
  --chart-1: oklch(0.267 0.097 256.8);
  --chart-2: oklch(0.267 0.097 256.8);
  --chart-3: oklch(0.267 0.097 256.8);
  --chart-4: oklch(0.63 0.15 25.72);
  --chart-5: oklch(0.55 0.05 256.04);
  --sidebar: oklch(0.97 0.01 256.04);
  --sidebar-foreground: oklch(0.267 0.097 256.8);
  --sidebar-primary: oklch(0.267 0.097 256.8);
  --sidebar-primary-foreground: oklch(0.93 0.02 256.04);
  --sidebar-accent: oklch(0.267 0.097 256.8);
  --sidebar-accent-foreground: oklch(0.93 0.02 256.04);
  --sidebar-border: oklch(0.82 0.03 256.04);
  --sidebar-ring: oklch(0.267 0.097 256.8);
  /* Font family */
  --font-sans: "Roboto", sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  html {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
    line-height: 1.6;
    font-family: var(--font-sans);
  }
  body {
    background-color: var(--color-background);
    font-weight: 400;
  }
  ol,
  ul,
  li,
  button,
  input,
  textarea,
  select,
  optgroup,
  option {
    @apply text-base text-foreground leading-relaxed;
  }
}
@layer components {
  .selectItem {
    @apply text-base text-primary py-3 focus:bg-primary/10 cursor-pointer focus:text-primary-foreground focus:outline-none pl-2 font-medium;
  }
  .primaryParagraph {
    @apply text-base  leading-relaxed;
  }
  .strongParagraph{
    @apply text-foreground  leading-relaxed font-bold;
  }
  .primaryHeading {
    @apply text-2xl sm:text-3xl md:text-4xl font-bold leading-tight bg-gradient-to-l from-[var(--secondary)] via-[var(--primary)] to-[var(--foreground)] bg-clip-text text-transparent inline-block;
  }
  .secondaryHeading {
    @apply text-xl font-semibold text-secondary;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .pageCenter {
    @apply min-h-[80vh] flex items-center justify-center w-full
  }
  .flexBetween {
    @apply flex items-center justify-between;
  }
  .flexEvenly {
    @apply flex items-center justify-around;
  }
  .container {
    @apply mx-auto max-w-[90vw];
  }
  .errorMessage {
    @apply text-base text-destructive;
  }
  .successMessage {
    @apply text-base text-green-600;
  }
.validatingInput {
  @apply bg-yellow-200 border-b-4 border-yellow-500 text-yellow-700 animate-pulse
}
.invalidInput {
  @apply bg-red-200 border-b-4 border-red-500 text-red-700
}
.validInput {
  @apply bg-green-200 border-b-4 border-green-500 text-green-700
}
}